
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <img src="~/StaticFiles/img/2.jpg" alt="ASP.NET" class="img-responsive" />
</body>
</html>
