@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/jquery-1.8.2.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>
            <a href="/Basic_Areas/Img/Index">去img页面</a>
        </li>
        <li>
            <a href="/StaticFiles/img">去目录浏览效果页面</a>
        </li>
        <li>
            <a href="/Basic_Areas/Session/Index">去session页面</a>
        </li>
        <li>
            <a href="/LogNet">去LogNet页面</a>
        </li>
        <li>
            <a href="/Basic_Areas/AppSetRead/Index">去AppSetRead页面</a>
        </li>
        <li>
            <a href="/ComUser_Areas/EFExample/Index">去EFExample页面</a>
        </li>
        <li>
            <a href="/ComUser_Areas/EFLifeCycle/EFLifeCycleIndex">去EFExample生命周期页面</a>
        </li>
        <li>
            <a href="/ComUser_Areas/DICycle/Index">去依赖注入生命周期测试页面（框架）</a>
        </li>
        <li>
            在测试AutoFac时候启用的是扩展startup类所以除了注入功能都没开启，因此其他功能不可使用
        </li>
        <li>
            <a href="/ComUser_Areas/DICycle/AutoFacView">去依赖注入生命周期测试页面（Autofac）</a>
        </li>
        <li>
            <a href="/Basic_Areas/Session/CacheView">去缓存页面</a>
        </li>

        <li>
            <a href="/Login/Login">授权测试页面</a>
        </li>
        <li>
            <a href="/Test/Test/index">test</a>
        </li>
    </ul>
</div>
