@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="/Img">去img页面</a>
    <br />
    <a href="/StaticFiles/img">去目录浏览效果页面</a>
    <br />
    <a href="/Session">去session页面</a>
    <br />
    <a href="/LogNet">去LogNet页面</a>
    <br />
    <a href="/AppSetRead">去AppSetRead页面</a>
    <br />
    <a href="/EFExample">去EFExample页面</a>
</div>
