
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddScopedView</title>
</head>
<body>
    EF生命周期---请求内单例
    <div> 当前页面判断是否值是一个上下文：@Model</div>
</body>
</html>
