
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EF生命周期首页</title>
</head>
<body>
    EF生命周期首页
    <div> 当前页面判断是否值是一个上下文：@Model</div>


    <a href="/ComUser_Areas/EFLifeCycle/AddScopedView">去EF生命周期AddScopedView</a>
</body>
</html>
