
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CacheView</title>
</head>
<body>

    @{
        ViewData["Title"] = "CacheView";
    }

    <h1>CacheView</h1>
    <div> 时间：@ViewBag.time</div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>
